* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  background: #2C2C2C;
}

@media (min-width: 1024px) and (min-height: 830px) { 
  .content {
    margin: 0 0 0 30vw;
  }
}

