.about {
    background: #2C2C2C;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 108px 0 50px 0;
    align-items: center;
}

.training {
    background: #2C2C2C;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;;
}

.about h1 {
    color: #EEEEEE;
    align-self: self-start;
    padding: 0 0 0 25px;
    font-weight: normal;
    font-size: 30px;
}

.about img {
	margin: 30px 0 30px 0;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border: 2px solid #383838;
}

.about p {
	color: #EEEEEE;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.training h1 {
	color: #EEEEEE;
    align-self: self-start;
    padding: 0 0 0 25px;
    font-size: 30px;
    font-weight: normal;
}

.cards {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-items: center;
    width: 100%;
    padding: 0 25px;
}

.projects {
    margin: 0 0 108px 0;
}

.projects h1 {
    color: #EEEEEE;
    align-self: self-start;
    padding: 0 0 0 25px;
    font-weight: normal;
    font-size: 30px;
}

.projects .tag {
    color: #6C6C6C;
    font-size: 20px;
    padding: 0 0 0 25px;
}

.projectsCard {
    width: 320px;
    height: 297px;
    overflow: hidden;
    margin: 0 auto;
}

.projectCarrousel {
    display: flex;
    width: calc(2*320px);
    gap: 20px;
}